<!DOCTYPE html>
<html>
<head>
	<title>My Movie Server</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	
<nav class="navbar navbar-expand navbar-dark navbar-fixed-top sticky-top dark-background">
	<a class="navbar-brand" href="/movies"> My Movie Server <i class="fas fa-film"> </i></a>
    	<ul class="navbar-nav ml-auto">
			<% if(!currentUser){ %>
				<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
				<li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
			<% } else { %>
				<li class="nav-item"><a class="nav-link" href="#">Signed in as <%= currentUser.username %></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
			<%  } %>
    	</ul>
</nav>

	
	<div class="container">
		<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
		<% } else if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
		<% } %>
	</div>
	





