body{
	font-family: "Roboto";


}
nav{
	margin-bottom:60px;
}

.white-background {
	background-color: #fbfbfb;
}
.gray-text{
	color: #ccc;
}


header div{
	text-align: center;
}

.index-card {
	width: 16rem;
}
.card{
	padding: 20px;
	background-color: #fbfbfb;
}


#movie-index{
	display: flex;
	flex-wrap: wrap;
}
#movie-index img{
	width: 100%;
}

#comments{
	margin-top: 80px;
}

.jumbotron{
	color: #d11d05;
}

.jumbotron h1{
	font-weight: 700;
	font-size: 8em;
}

.jumbotron p{
	font-size: 2.5em;
}

.form-header{
	text-align: center;
}

.form-div{
	width: 30%;
	margin: 20px auto;
}

.delete-form{
	display: inline;
}
