<% include ../partials/header %>

<div class="container">
	<header class="jumbotron white-background">
		<div class="container">
			<h1 >Movies Catalog</h1>
			<p class="lead">View My selection of movies!</p>
			<a class="btn btn-lg btn-danger" href="/movies/new"> Add New Movie </a>
		</div>
	</header>

	<div id="movie-index" class="row text-center">
		<% for (let i = 0; i < movies.length; i++) { -%>
			<div class="col-md-3 col-sm-6">
				<div class="card index-card">
					<img class="card-img-top" src="<%=movies[i].image%>">
					<div class="card-body">
						<h4 class="card-text"><%= movies[i].title%></h4>
					</div>
					<div>
						<a class="btn btn-danger" href="/movies/<%= movies[i]._id %>"> See More... </a>
					</div>
				</div>
			</div>

		<% } %>
	</div>
</div>



<%include ../partials/footer%>